{% extends "base_page.html" %}

{% block title %}Movie Listing{% endblock %}

{% block content %}
    <h1>Movie Listing</h1>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Price</th>
            <th>Release Date</th>
            <th></th>
        </tr>
        {% for movie in object_list %}
            <tr>
                <td>{{ movie.id }}</td>
                <td>{{ movie.title }}</td>
                <td>{{ movie.genre }}</td>
                <td>{{ movie.price }}</td>
                <td>{{ movie.release_date }}</td>
                <td>
                    <a href="{% url 'movie_edit' movie.id %}" class="btn">Edit</a>
                    <a href="{% url 'movie_delete' movie.id %}" class="btn">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}